<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loan Default Form</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Predicting Loan Default</h1>
                <p>Enter your details below!</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/" role="form", name="loandefaultform">
                        <div class="form-group">
                            <label>Age (years)</label>
                            <input type="number" class="form-control" name="person_age" placeholder="Age" required>
                        </div>
                        <div class="form-group">
                            <label>Income</label>
                            <input type="number" class="form-control" name="person_income" placeholder="Income" required>
                        </div>
                        <div class="form-group">
                            <label for="person_home_ownership">Home Ownership Status: </label>
                            <select name="person_home_ownership" id="person_home_ownership">
                                <option value="0">Mortgage</option>
                                <option value="1">Rent</option>
                                <option value="2">Own</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Employment Length (years)</label>
                            <input type="number" class="form-control" name="person_emp_length" placeholder="Employment Length" required>
                        </div>
                        <div class="form-group">
                            <label for="loan_intent">Loan Intent: </label>
                            <select name="loan_intent" id="loan_intent">
                                <option value="0">Debt Consolidation</option>
                                <option value="1">Education</option>
                                <option value="2">Home Improvement</option>
                                <option value="3">Medical</option>
                                <option value="4">Personal</option>
                                <option value="5">Venture</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="loan_grade">Loan Grade: </label>
                            <select name="loan_grade" id="loan_grade">
                                <option value="0">A</option>
                                <option value="1">B</option>
                                <option value="2">C</option>
                                <option value="3">D</option>
                                <option value="4">E</option>
                                <option value="5">F</option>
                                <option value="6">G</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Loan Amount</label>
                            <input type="number" class="form-control" name="loan_amnt" placeholder="Loan Amount" required>
                        </div>
                        <div class="form-group">
                            <label>Loan Interest Rate</label>
                            <input type="number" class="form-control" name="loan_int_rate" placeholder="Loan Interest Rate" required>
                        </div>
                        <div class="form-group">
                            <label>Loan-to-Income Ratio (Please enter ratio to 2 decimal places)</label>
                            <input type="float" class="form-control" name="loan_percent_income" placeholder="Loan-to-Income Ratio" required>
                        </div>
                        <div class="form-group">
                            <label for="cb_person_default_on_file">Default on File? </label>
                            <select name="cb_person_default_on_file" id="cb_person_default_on_file">
                                <option value="0">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Credit History Length</label>
                            <input type="number" class="form-control" name="cb_person_cred_hist_length" placeholder="Credit History Length" required>
                        </div>
                        <button type="submit"  formaction="/" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>{{ message }}</h1>
                </div>
            </div>
        </div>

    </body>
</html>
